h1, h2 {
    text-align: center;
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
}
  
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.skills {
    border: 5px solid;
    padding-left: 25px;
}

.employment {
    margin-top: 25px;
    border: 5px solid;
    padding-left: 25px;
}